﻿@model EmployeeManagement.Model.EmployeeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @using (Html.BeginForm("CreateOrEditEmployeeProfile", "Employee", FormMethod.Post, new { @id = "createOrEditEmployeeProfileForm" }))
    {
        @Html.HiddenFor(item => item.HomeAddress.City.CityId, new { @id = "hdnHomeCityId" })
        @Html.HiddenFor(item => item.PostalAddress.City.CityId, new { @id = "hdnPostalCityId" })
        @Html.HiddenFor(item => item.EmployeeUid, new { @id = "hdnEmployeeUid" })
        <p id="required-fields-clientside" class="flash alert" style="display:none"></p>
        <table width="100%">
            <tbody>
                <tr>
                    <td>
                        @Html.Label("lblEmpFirstName", "First Name", new { @for = "txtEmpFirstName" })
                    </td>
                    <td>
                        @Html.TextBoxFor(item => item.EmployeeFirstName, new { @id = ("txtEmpFirstName"), @placeholder = "Enter Your First Name", @maxLength = "30" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("lblEmpLastName", "Last Name", new { @for = "txtEmpLastName" })
                    </td>
                    <td>
                        @Html.TextBoxFor(item => item.EmployeeLastName, new { @id = ("txtEmpLastName"), @placeholder = "Enter Your Last Name", @maxLength = "30" })
                    </td>
                </tr>
                <tr><td style="text-decoration: underline;">Home Address</td></tr>
                <tr>
                    <td>
                        @Html.Label("lblHomeBuildingName", "Building", new { @for = "txtHomeBuildingName" })
                    </td>
                    <td>
                        @Html.TextAreaFor(item => item.HomeAddress.BuildingName, new { @id = ("txtHomeBuildingName"), @placeholder = "Enter Your Home Address Building Name", @maxLength = "300" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("lblHomeState", "State", new { @for = "ddlState" })
                    </td>
                    <td>
                        @Html.EJ().DropDownListFor(model => model.HomeAddress.State.StateId).Text("ddlState").Datasource(d => d.URL(@Url.Action("GetAllStatesList", "Employee"))).DropDownListFields(df => df.Text("Text").Value("Value")).ClientSideEvents(e => e.Select("ddlSelectHomeState")).WatermarkText("Current Residing State").Width("400px").Value(Model.HomeAddress.State.StateId.ToString())
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.Label("lblHomeCity", "City", new { @for = "ddlHomeCity" })
                    </td>
                    <td>
                        @Html.EJ().DropDownList("ddlHomeCity").Datasource(d => d.URL(@Url.Action("GetAllCitiesList", "Employee")).Adaptor(AdaptorType.UrlAdaptor)).DropDownListFields(df => df.Text("Text").Value("Value")).ClientSideEvents(e => e.Select("ddlSelectHomeCity")).WatermarkText("Current Residing City").Width("400px").Enabled(false).Value(Model.HomeAddress.City.CityId.ToString())
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.Label("lblPinCode", "Postal Code", new { @for = "txtHomePinCode" })
                    </td>
                    <td>
                        @Html.TextBoxFor(item => item.HomeAddress.PostalCode, new { @id = ("txtHomePinCode"), @placeholder = "Enter Your Postal code", @maxLength = "6" })

                    </td>
                </tr>

                <tr>
                    <td>@Html.CheckBoxFor(m => m.IsPostalAddrSameAsHomeAddr, new { @id = "chkIsPostalAddrSameAsHomeAddr", @checked = true, style = "width: 25px !important;" })Same as Home address</td>
                </tr>
            </tbody>
        </table>
        <table width="100%" id="tblDifferentHomeAndPostalAddr" style="display:none">
            <tbody>
                <tr>
                    <td style="text-decoration: underline;">
                        Postal Address
                    </td>
                </tr>
                <tr>
                    <td style="width:400px">
                        @Html.Label("lblPostalBuildingName", "Building", new { @for = "txtPostalBuildingName" })
                    </td>
                    <td>
                        @Html.TextAreaFor(item => item.PostalAddress.BuildingName, new { @id = ("txtPostalBuildingName"), @placeholder = "Enter Your Postal Address Building Name", @maxLength = "300" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("lblPostalState", "State", new { @for = "ddlPostalState" })
                    </td>
                    <td>
                        @Html.EJ().DropDownListFor(model => model.PostalAddress.State.StateId).Text("ddlPostalState").Datasource(d => d.URL(@Url.Action("GetAllStatesList", "Employee"))).DropDownListFields(df => df.Text("Text").Value("Value")).ClientSideEvents(e => e.Select("ddlSelectPostalState")).WatermarkText("Current Residing State").Width("400px").Value(Model.PostalAddress.State.StateId.ToString())
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.Label("lblPostalCity", "City", new { @for = "ddlPostalCity" })
                    </td>
                    <td>
                        @Html.EJ().DropDownList("ddlPostalCity").Datasource(d => d.URL(@Url.Action("GetAllCitiesList", "Employee")).Adaptor(AdaptorType.UrlAdaptor)).DropDownListFields(df => df.Text("Text").Value("Value")).ClientSideEvents(e => e.Select("ddlSelectPostalCity")).WatermarkText("Current Residing City").Width("400px").Enabled(false).Value(Model.PostalAddress.City.CityId.ToString())
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.Label("lblPinCodePostal", "Postal Code", new { @for = "txtPostalPinCode" })
                    </td>
                    <td>
                        @Html.TextBoxFor(item => item.PostalAddress.PostalCode, new { @id = ("txtPostalPinCode"), @placeholder = "Enter Your Postal code", @maxLength = "6" })

                    </td>
                </tr>

            </tbody>
        </table>

        <div>
            <input id="btnCreatEmployee" type="submit" class="btn btn-default" value="Create" />
            <input id="btnCancel" type="submit" class="btn btn-default" value="Cancel" />
        </div>
    }
</div>

<script>

    // Global variables
    var toSelect = 0;
    var homeCity = '@Model.HomeAddress.City.CityId'
    var postalCity = '@Model.PostalAddress.City.CityId'

    $(document).ready(function () {
        var isEditPage = '@Model.EmployeeUid.ToString()';
        //Check weather page is for create employee or update employee
        //with the help of EmpUId
        if(isEditPage != '00000000-0000-0000-0000-000000000000')
        {
            $("#btnCreatEmployee").val("Update");
            var domElement = document.getElementById("tblDifferentHomeAndPostalAddr");
            domElement.style.display = "block";
            toSelect = 1;
            //Select the ddl value based on DB - On Update
            GetCity('@Model.HomeAddress.State.StateId', "ddlHomeCity");
            GetCity('@Model.PostalAddress.State.StateId', "ddlPostalCity");
        }

        // Checkbox for handling Home address and postal address 
        // both are same or not!
        $('#chkIsPostalAddrSameAsHomeAddr').change(function () {
            if ($(this).is(":checked")) {
                var domElement = document.getElementById("tblDifferentHomeAndPostalAddr");
                domElement.style.display = "none";
            }
            else
            {
                var domElement = document.getElementById("tblDifferentHomeAndPostalAddr");
                domElement.style.display = "block";
            }
        });

        //Overriding Button click for field validations
        $("#btnCreatEmployee").click(
           function () {
               if (ShowValidationErrors()) {
                   $("html, body").animate({ scrollTop: 0 }, "slow");
                   $("#required-fields-clientside").text("Please correct the errors which are marked in red");
                   $("#required-fields-clientside").show();
                   return false;
               }
           });

        //On Cancel button click - Redirect to Home Page
        $("#btnCancel").click(
           function () {
               
        });
    });

    //Function to deal with field input and logic validations.
    function ShowValidationErrors(selectedTab) {
        var errCount = 0;

        //Field handler for EmpFirstName field
        //If error - Highlight text box with red color border
        //If no error - making back to default state border
        if ($.trim($("#txtEmpFirstName").val()) == "") {
            document.getElementById("txtEmpFirstName").style.border = "1px solid red";
            errCount++;
        }
        else
            document.getElementById("txtEmpFirstName").style.border = "solid 1px #e5e5e5";

        //Field handler for EmpLastName field
        //If error - Highlight text box with red color border
        //If no error - making back to default state border
        if ($.trim($("#txtEmpLastName").val()) == "") {
            document.getElementById("txtEmpLastName").style.border = "1px solid red";
            errCount++;
        }
        else
            document.getElementById("txtEmpLastName").style.border = "solid 1px #e5e5e5";

        //Field handler for Home Address building field
        //If error - Highlight text box with red color border
        //If no error - making back to default state border
        if ($.trim($("#txtHomeBuildingName").val()) == "") {
            document.getElementById("txtHomeBuildingName").style.border = "1px solid red";
            errCount++;
        }
        else
            document.getElementById("txtHomeBuildingName").style.border = "solid 1px #e5e5e5";

        //Field handler for EmpHomeAddress postal code field
        //If error - Highlight text box with red color border
        //If no error - making back to default state border
        if ($.trim($("#txtHomePinCode").val()) == "" || !$.isNumeric($.trim($("#txtHomePinCode").val())))
        {
            document.getElementById("txtHomePinCode").style.border = "1px solid red";
            errCount++;
        }
        else
            document.getElementById("txtHomePinCode").style.border = "solid 1px #e5e5e5";

        //Field handler for DDL State field
        //If error - Highlight text box with red color border
        //If no error - making back to default state border
        var homeState = $('#HomeAddressStateStateId').ejDropDownList("getSelectedValue");
        if (homeState == "") {
            document.getElementById("HomeAddressStateStateId" + "_container").style.border = "1px solid red";
            errCount++;
        }
        else
            document.getElementById("HomeAddressStateStateId" + "_container").style.border = "solid 1px #e5e5e5";

        //Field handler for DDL CIty field
        //If error - Highlight text box with red color border
        //If no error - making back to default state border
        var homeCity = $('#ddlHomeCity').ejDropDownList("getSelectedValue");
        if (homeCity == "") {
            document.getElementById("ddlHomeCity" + "_container").style.border = "1px solid red";
            errCount++;
        }
        else
            document.getElementById("ddlHomeCity" + "_container").style.border = "solid 1px #e5e5e5";

        //If Home address and Postal address are different
        //Do validations for Postal address section
        if (!$("#chkIsPostalAddrSameAsHomeAddr").is(':checked'))
        {
            //Field handler for DDL State field on Postal address section
            //If error - Highlight text box with red color border
            //If no error - making back to default state border
            var postalState = $('#PostalAddressStateStateId').ejDropDownList("getSelectedValue");
            if (postalState == "") {
                document.getElementById("PostalAddressStateStateId" + "_container").style.border = "1px solid red";
                errCount++;
            }
            else
                document.getElementById("PostalAddressStateStateId" + "_container").style.border = "solid 1px #e5e5e5";

            //Field handler for DDL City field on Postal address section
            //If error - Highlight text box with red color border
            //If no error - making back to default state border
            var postalCity = $('#ddlPostalCity').ejDropDownList("getSelectedValue");
            if (postalCity == "") {
                document.getElementById("ddlPostalCity" + "_container").style.border = "1px solid red";
                errCount++;
            }
            else
                document.getElementById("ddlPostalCity" + "_container").style.border = "solid 1px #e5e5e5";

            //Field handler for Postal Address building field
            //If error - Highlight text box with red color border
            //If no error - making back to default state border
            if ($.trim($("#txtPostalBuildingName").val()) == "") {
                document.getElementById("txtPostalBuildingName").style.border = "1px solid red";
                errCount++;
            }
            else
                document.getElementById("txtPostalBuildingName").style.border = "solid 1px #e5e5e5";
            
            //Field handler for Postal Address postal code field
            //If error - Highlight text box with red color border
            //If no error - making back to default state border
            if ($.trim($("#txtPostalPinCode").val()) == "" || !$.isNumeric($.trim($("#txtPostalPinCode").val())))
            {
                document.getElementById("txtPostalPinCode").style.border = "1px solid red";
                errCount++;
            }
            else
                document.getElementById("txtPostalPinCode").style.border = "solid 1px #e5e5e5";
        }
        //return the error count
        //if errCount > 1 stop propogating the button click and show error messages
        return errCount;
    }

    //Api call to get / load data in City DDL
    function GetCity(stateId, ddlId)
    {
        $.ajax({
            url: "/Employee/GetAllCitiesList?stateId=" + stateId,
            type: 'POST',
            async: true,
            success: function (data) {
                var Obj = $("#" + ddlId).ejDropDownList("instance");
                Obj.option({
                    dataSource: data,
                    fields:
                       {
                           text: "Text",
                           value: "Value"
                       },
                    enabled: true
                })
                if (toSelect == 1)
                {
                    if (ddlId == "ddlHomeCity")
                        Obj.selectItemByValue(homeCity);
                    if (ddlId == "ddlPostalCity")
                        Obj.selectItemByValue(postalCity);
                }

            }
        });
    }

    //Only on select with State -> Citu DDL will be enabled for edition - Home address section
    function ddlSelectHomeState(sender) {
        GetCity(sender.value, "ddlHomeCity")
    }

    //Only on select with State -> Citu DDL will be enabled for edition - Postal address section
    function ddlSelectPostalState(sender) {
        GetCity(sender.value, "ddlPostalCity")
    }

    //Set City field on Select of city from DDL - Home address section - City field
    function ddlSelectHomeCity(sender)
    {
        $('#hdnHomeCityId').val(sender.value)
    }
    //Set City field on Select of city from DDL - Postal address section - City field
    function ddlSelectPostalCity(sender) {
        $('#hdnPostalCityId').val(sender.value)
    }
</script>