﻿@model EmployeeManagement.Model.EmployeeFilterViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  @using (Html.BeginForm("Index", "Employee", FormMethod.Post, new { @id = "createOrEditEmployeeProfileForm" }))
  {
    <table>
        <colgroup>
            <col style="width:70%">
            <col style="width:70%">
        </colgroup>
        <tr>
            <td>@Html.TextBoxFor(item => item.FilterText, new { @id = ("txtFilterText"), @placeholder = "Enter Search input", @style = "width:600px !important" })</td>
            <td><input id="btnSearchEmployee" type="submit" class="btn btn-default" value="Search" /></td>
        </tr>
    </table>
    <div>
        <hr/>
        <label>Search Results:</label>
    </div>
  }

    @* Syncfusion grid *@
    @(Html.EJ().Grid<Object>("EmployeeDirectory")
                .Datasource((IEnumerable<object>)ViewBag.DataSource)
                .AllowPaging()
                .AllowSorting()
                .AllowTextWrap()
                .AllowResizeToFit()
                .PageSettings(page => { page.PageSize(10); })
                .Columns(col =>
                {
                    col.Field("EmployeeUid").HeaderTextAlign(TextAlign.Center).HeaderText("Employee UID").Visible(false).Add();
                    col.Field("EmployeeDisplayId").HeaderTextAlign(TextAlign.Center).HeaderText("Emloyee ID").Add();
                    col.HeaderText("Employee Name").HeaderTextAlign(TextAlign.Center).Template("<span>{{:EmployeeFirstName + '. ' + EmployeeLastName }}</span>").Add();
                    col.HeaderText("Home Address").HeaderTextAlign(TextAlign.Center).Width("20%").Template("<span>{{:HomeAddress.BuildingName + ', ' + HomeAddress.City.CityName + ', ' + HomeAddress.State.StateName + ', ' + HomeAddress.PostalCode }}</span>").Add();
                    col.HeaderText("Postal Address").HeaderTextAlign(TextAlign.Center).Width("20%").Template("<span>{{:PostalAddress.BuildingName + ', ' + PostalAddress.City.CityName + ', ' + PostalAddress.State.StateName + ', ' + PostalAddress.PostalCode }}</span>").Add();
                    col.HeaderText("").Format("<a onclick=\"clkEditEmployeeDetails(this)\" href=#>Edit</a>").Add();
                    col.HeaderText("").Format("<a onclick=\"clkDeleteEmployee(this)\" href=#>Delete</a>").Add();

                }))
</div>

<script>
    // Function for Editing an Employee details
    function clkEditEmployeeDetails(e)
    {
        var obj = $("#EmployeeDirectory").data("ejGrid");
        var empId = obj.getSelectedRecords()[0].EmployeeUid;
        document.location = "@Url.Action("CreateOrEditEmployeeProfile", "Employee")" + '?employeeUid=' + empId;
    }

    // Function for Deleting an Employee
    function clkDeleteEmployee(e) {
        var obj = $("#EmployeeDirectory").data("ejGrid");
        var empId = obj.getSelectedRecords()[0].EmployeeUid;
        var empDisplayId = obj.getSelectedRecords()[0].EmployeeDisplayId;
        var uri = "@Url.Action("DeleteEmployee", "Employee")";
        if (confirm("Clic Ok to Delete Employee: " + empDisplayId + " or Click cancel to return.")) {
            $.ajax({
                type: "POST",
                url: uri,
                data: {
                    employeeId: empId
                },
                success: function ()
                {
                    document.location = "@Url.Action("Index", "Employee")";
                }
            });
        }
    }
</script>